<form id="redeem" class="form-horizontal">
  <fieldset>
    <legend>Please enter your payment invitation to extract the private key</legend>

    <div class="control-group">
      <label class="control-label">Invite Code</label>
      <div class="controls">
        <input type="text" id="einvp" name="escrow[einvp]" class="input-xxlarge" />
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="control-group">
      <label class="control-label">Address</label>
      <div class="controls">
        <input type="text" id="redeem-address" name="escrow[redeem-address]" class="input-xxlarge" />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Private Key</label>

      <div class="controls">
        <input type="text" id="redeem-wif" name="escrow[redeem-wif]" class="input-xxlarge" />
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    <input type="submit" class="btn btn-primary" value="Redeem" />
    <a href="/escrows" class="btn">Back</a>
  </div>
</form>