<!DOCTYPE html>
<html>
<head>
  <title>Eskonto - Bitcoin Escrow</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/css/alfaroa.css" rel="stylesheet" type="text/css" media="all" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>  
  <link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script> 
    jQuery(document).ready(function ($) {     
      $('.nav-tabs').tab(); 
    }); 
  </script>
</head>
<body>

  <!-- Start Header -->
  <div id="header">
		<div class="container">
			<div class="row">
				<p class="logo"><a href="index.html">Eskonto</a></p>
				<ul class="navigation">
					<li><a href="/">Home</a></li>
					<li><a href="/pages/tour.html">Tour</a></li>
					<li><a href="/pages/pricing.html">Pricing</a></li>
					<li><a href="/pages/blog.html">Blog</a></li>
					<li><a href="/pages/about.html">About</a></li>
					<li><a href="/pages/contact.html">Contact</a></li>
				</ul>
			</div>
  {{content}}    
	<!-- Start Footer -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="span2">
					<h3>About</h3>
					<ul>
						<li><a href="/">About Eskonto</a></li>
						<li><a href="/">Jobs</a></li>
						<li><a href="/">Press Resources</a></li>
						<li><a href="/">Press Releases</a></li>
					</ul>
				</div>
				<div class="span2">
					<h3>Features</h3>
					<ul>
						<li><a href="/">Twitter Bootstrap</a></li>
						<li><a href="/">HTML5 Markup</a></li>
						<li><a href="/">Google Web Fonts</a></li>
					</ul>
				</div>
				<div class="span2">
					<h3>Legal Info</h3>
					<ul>
						<li><a href="/">Terms of Use</a></li>
						<li><a href="/">Privacy Policy</a></li>
						<li><a href="/">Copyright Policy</a></li>
					</ul>
				</div>
				<div class="span2">
					<h3>Contact</h3>
					<ul>
						<li><a href="/">Contact Eskonto</a></li>
						<li><a href="/">Partner With Us</a></li>
						<li><a href="/">Find an Expert</a></li>
					</ul>
				</div>
				<div class="span4">
					<h3>Support</h3>
					<p>Quisque pellentesque tincidunt pellentesque. Integer malesuada ligula ac lorem commodo varius. Vivamus non tristique urna. Nam eu massa ut lacus imperdiet gravida. Nullam at leo.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer -->

</body>
</html>
